In [1]:
import getml
from challenge.utils.data import load_ctu_dataset

getml.set_project("basketball_men")

Connected to project 'basketball_men'.

# Task: Basketball_men
### Dataset Description
> <span style="font-weight: 500; color: #3b3b3b;">ⓘ️&nbsp; Generated by `gpt-4o`</span>
>
> The *Basketball_men* dataset is used for a regression task, aiming to predict the rank of basketball teams. The target column is *rank* in the *teams* table.
> 
> **Data Model:**
> 
> - **awards_coaches** table:
>   - *id*: int
>   - *year*: int
>   - *coachID*: varchar
>   - *award*: varchar
>   - *lgID*: varchar
>   - *note*: varchar
> 
> - **players_teams** table:
>   - *id*: int
>   - *playerID*: varchar
>   - *year*: int
>   - *stint*: int
>   - *tmID*: varchar
>   - *lgID*: varchar
>   - *GP*: int
>   - *GS*: int
>   - *minutes*: int
>   - *points*: int
>   - *oRebounds*: int
>   - *dRebounds*: int
>   - *rebounds*: int
>   - *assists*: int
>   - *steals*: int
>   - *blocks*: int
>   - *turnovers*: int
>   - *PF*: int
>   - *fgAttempted*: int
>   - *fgMade*: int
>   - *ftAttempted*: int
>   - *ftMade*: int
>   - *threeAttempted*: int
>   - *threeMade*: int
>   - *PostGP*: int
>   - *PostGS*: int
>   - *PostMinutes*: int
>   - *PostPoints*: int
>   - *PostoRebounds*: int
>   - *PostdRebounds*: int
>   - *PostRebounds*: int
>   - *PostAssists*: int
>   - *PostSteals*: int
>   - *PostBlocks*: int
>   - *PostTurnovers*: int
>   - *PostPF*: int
>   - *PostfgAttempted*: int
>   - *PostfgMade*: int
>   - *PostftAttempted*: int
>   - *PostftMade*: int
>   - *PostthreeAttempted*: int
>   - *PostthreeMade*: int
>   - *note*: varchar
> 
> - **player_allstar** table:
>   - *playerID*: varchar
>   - *last_name*: varchar
>   - *first_name*: varchar
>   - *season_id*: int
>   - *conference*: varchar
>   - *league_id*: varchar
>   - *games_played*: int
>   - *minutes*: int
>   - *points*: int
>   - *o_rebounds*: int
>   - *d_rebounds*: int
>   - *rebounds*: int
>   - *assists*: int
>   - *steals*: int
>   - *blocks*: int
>   - *turnovers*: int
>   - *personal_fouls*: int
>   - *fg_attempted*: int
>   - *fg_made*: int
>   - *ft_attempted*: int
>   - *ft_made*: int
>   - *three_attempted*: int
>   - *three_made*: int
> 
> - **draft** table:
>   - *id*: int
>   - *draftYear*: int
>   - *draftRound*: int
>   - *draftSelection*: int
>   - *draftOverall*: int
>   - *tmID*: varchar
>   - *firstName*: varchar
>   - *lastName*: varchar
>   - *suffixName*: varchar
>   - *playerID*: varchar
>   - *draftFrom*: varchar
>   - *lgID*: varchar
> 
> - **series_post** table:
>   - *id*: int
>   - *year*: int
>   - *round*: varchar
>   - *series*: varchar
>   - *lgIDWinner*: varchar
>   - *tmIDWinner*: varchar
>   - *lgIDLoser*: varchar
>   - *tmIDLoser*: varchar
>   - *W*: int
>   - *L*: int
> 
> - **coaches** table:
>   - *coachID*: varchar
>   - *year*: int
>   - *tmID*: varchar
>   - *lgID*: varchar
>   - *stint*: int
>   - *firstName*: varchar
>   - *lastName*: varchar
>   - *won*: int
>   - *lost*: int
>   - *post_wins*: int
>   - *post_losses*: int
> 
> - **awards_players** table:
>   - *playerID*: varchar
>   - *award*: varchar
>   - *year*: int
>   - *lgID*: varchar
>   - *note*: varchar
>   - *pos*: varchar
> 
> - **teams** table:
>   - *year*: int
>   - *lgID*: varchar
>   - *tmID*: varchar
>   - *franchID*: varchar
>   - *confID*: varchar
>   - *divID*: varchar
>   - *rank*: int (target column)
>   - *confRank*: int
>   - *playoff*: varchar
>   - *name*: varchar
>   - *arena*: varchar
>   - *attendance*: int
>   - *tbtmID*: varchar
>   - *o_fgm*: int
>   - *o_fga*: int
>   - *o_ftm*: int
>   - *o_fta*: int
>   - *o_3pm*: int
>   - *o_3pa*: int
>   - *o_oreb*: int
>   - *o_dreb*: int
>   - *o_reb*: int
>   - *o_asts*: int
>   - *o_pf*: int
>   - *o_stl*: int
>   - *o_to*: int
>   - *o_blk*: int
>   - *d_fgm*: int
>   - *d_fga*: int
>   - *d_ftm*: int
>   - *d_fta*: int
>   - *d_3pm*: int
>   - *d_3pa*: int
>   - *d_oreb*: int
>   - *d_dreb*: int
>   - *d_reb*: int
>   - *d_asts*: int
>   - *d_pf*: int
>   - *d_stl*: int
>   - *d_to*: int
>   - *d_blk*: int
>   - *d_pts*: int
>   - *o_fmRebound*: int
>   - *d_fmRebound*: int
>   - *homeWon*: int
>   - *awayWon*: int
>   - *awayLost*: int
>   - *neutWon*: int
>   - *neutLoss*: int
>   - *confWon*: int
>   - *confLoss*: int
>   - *divWon*: int
>   - *divLoss*: int
>   - *pace*: int
>   - *won*: int
>   - *lost*: int
>   - *games*: int
>   - *min*: int
> 
> - **players** table:
>   - *playerID*: varchar
>   - *useFirst*: varchar
>   - *firstName*: varchar
>   - *middleName*: varchar
>   - *lastName*: varchar
>   - *nameGiven*: varchar
>   - *fullGivenName*: varchar
>   - *nameSuffix*: varchar
>   - *nameNick*: varchar
>   - *pos*: varchar
>   - *firstseason*: int
>   - *lastseason*: int
>   - *height*: float
>   - *weight*: int
>   - *college*: varchar
>   - *collegeOther*: varchar
>   - *birthDate*: date
>   - *birthCity*: varchar
>   - *birthState*: varchar
>   - *birthCountry*: varchar
>   - *highSchool*: varchar
>   - *hsCity*: varchar
>   - *hsState*: varchar
>   - *hsCountry*: varchar
>   - *deathDate*: date
>   - *race*: varchar
> 
> **Metadata:**
> 
> - Size: 18.3 MB
> - Number of tables: 9
> - Number of rows: 43,841
> - Number of columns: 195
> - Missing values: Yes
> - Compound keys: Yes
> - Loops: Yes
> - Type: Real
> - Instance count: 1,536
> 
> The dataset is used in sports analytics to predict team performance and rankings based on various player and team statistics. It is valuable for research in sports management and performance analysis.

### Tables
Population table: teams

<h4>
  <details open>
     <summary>ER Diagram</summary>
       <img src="https://relational.fel.cvut.cz/assets/img/datasets-generated/Basketball_men.svg" alt="Basketball_men ER Diagram">
   </details>
</h4>

To load the dataset, we use the `load_ctu_dataset` function from the `utils`
module. This function returns a tuple with the population table as the first
element and the a dictionary of peripheral tables as the second element.

In [2]:
teams, peripheral = load_ctu_dataset("Basketball_men")

(
    coaches,
    players,
    awards_coaches,
    draft,
    series_post,
    players_teams,
    player_allstar,
    awards_players,
) = peripheral.values()

Analyzing schema:   0%|          | 0/9 [00:00<?, ?it/s]

Downloading tables:   0%|          | 0/9 [00:00<?, ?it/s]

Building data:   0%|          | 0/9 [00:00<?, ?it/s]

Now, we can inspect all tables and annotate the columns with [roles](https://getml.com/latest/user_guide/concepts/annotating_data/).

The population table (`teams`).

We already set the `target` role for the target (`rank`).


rank is the target column for a regression task.

In [3]:
# TODO: Annotate remaining columns with roles
teams

name     rank   year            lgID            tmID            ...   min             arena           attendance
role   target   unused_string   unused_string   unused_string   ...   unused_string   unused_string   unused_string
   0        1   1937            NBL             AFS             ...   NULL            NULL            0
   1        2   1937            NBL             AGW             ...   NULL            NULL            0
   2        4   1937            NBL             BFB             ...   NULL            NULL            0
   3        5   1937            NBL             CNC             ...   NULL            NULL            0
   4        6   1937            NBL             COL             ...   NULL            NULL            0
          ...   ...             ...             ...                   ...             ...             ...
1531        5   2011            NBA             SAC             ...   NULL            NULL            0
1532        1   2011            NBA             SAS             ...   NULL            NULL            0
1533        4   2011            NBA             TOR             ...   NULL            NULL            0
1534        3   2011            NBA             UTA             ...   NULL            NULL            0
1535        4   2011            NBA             WAS             ...   NULL            NULL            0

name   bbtmID          split
role   unused_string   unused_string
   0   AFS             val
   1   AGW             val
   2   BFB             val
   3   CNC             train
   4   COL             val
       ...             ...
1531   NULL            train
1532   NULL            train
1533   NULL            val
1534   NULL            val
1535   NULL            val


1536 rows x 61 columns
memory usage: 1.13 MB
type: getml.DataFrame

Peripheral tables,

In [4]:
# TODO: Annotate columns with roles
coaches

name   id              year            round           series          ...   lgIDWinner      tmIDLoser       lgIDLoser
role   unused_string   unused_string   unused_string   unused_string   ...   unused_string   unused_string   unused_string
   0   1               1946            F               O               ...   NBA             CHS             NBA
   1   2               1946            QF              M               ...   NBA             CLR             NBA
   2   3               1946            QF              M               ...   NBA             STB             NBA
   3   4               1946            SF              N               ...   NBA             NYK             NBA
   4   5               1946            SF              N               ...   NBA             WSC             NBA
       ...             ...             ...             ...                   ...             ...             ...
 770   771             1974            DT              A               ...   ABA             NYA             ABA
 771   772             1975            F               D               ...   ABA             DNA             ABA
 772   773             1975            SF              C               ...   ABA             KEN             ABA
 773   774             1975            SF              C               ...   ABA             SAA             ABA
 774   775             1975            FR              B               ...   ABA             INA             ABA

name   W               L
role   unused_string   unused_string
   0   4               1
   1   2               1
   2   2               1
   3   2               0
   4   4               2
       ...             ...
 770   1               0
 771   4               2
 772   4               3
 773   4               3
 774   2               1


775 rows x 10 columns
memory usage: 0.09 MB
type: getml.DataFrame

In [5]:
# TODO: Annotate columns with roles
players

name   coachID         year            tmID            lgID            stint           won             lost
role   unused_string   unused_string   unused_string   unused_string   unused_string   unused_string   unused_string
   0   adelmri01       1988            POR             NBA             2               14              21
   1   adelmri01       1989            POR             NBA             1               59              23
   2   adelmri01       1990            POR             NBA             1               63              19
   3   adelmri01       1991            POR             NBA             1               57              25
   4   adelmri01       1992            POR             NBA             1               51              31
       ...             ...             ...             ...             ...             ...             ...
1684   woolpph01       1961            SFS             ABL1            1               6               9
1685   youngdr01       1973            KCO             NBA             2               0               3
1686   youngve01       1968            MNP             ABA             4               10              23
1687   zasloma01       1967            NJA             ABA             1               36              42
1688   zasloma01       1968            NYA             ABA             1               17              61

name   post_wins       post_losses
role   unused_string   unused_string
   0   0               3
   1   12              9
   2   9               7
   3   13              8
   4   1               3
       ...             ...
1684   NULL            NULL
1685   0               0
1686   3               4
1687   0               0
1688   0               0


1689 rows x 9 columns
memory usage: 0.18 MB
type: getml.DataFrame

In [6]:
# TODO: Annotate columns with roles
awards_coaches

name   playerID        useFirst        firstName       middleName      ...   hsCity                  hsState
role   unused_string   unused_string   unused_string   unused_string   ...   unused_string           unused_string
   0   abdelal01       Alaa            Alaa            NULL            ...   Bloomfield              NJ
   1   abdulka01       Kareem          Kareem          NULL            ...   New York                NY
   2   abdulma01       Mahdi           Mahdi           NULL            ...   Philadelphia / Easton   PA / MD
   3   abdulma02       Mahmoud         Mahmoud         NULL            ...   Gulfport                MS
   4   abdulta01       Tariq           Tariq           NULL            ...   Evreux                  NULL
       ...             ...             ...             ...                   ...                     ...
5057   ziegeba01       NULL            Maurice         J.              ...   Chicago                 IL
5058   zimmede01       Derrick         Derrick         Dewayne         ...   Monroe                  LA
5059   zoetji01        Jim             Jim             NULL            ...   Port Perry              ON
5060   zopfbi01        Bill            William         Charles         ...   Monaca                  PA
5061   zunicma01       Matt            Matthew         NULL            ...   New Kensington          PA

name   hsCountry       deathDate       race
role   unused_string   unused_string   unused_string
   0   USA             NULL            B
   1   USA             NULL            B
   2   USA             2011-11-18      B
   3   USA             NULL            B
   4   FRA             NULL            B
       ...             ...             ...
5057   USA             1970-08-23      W
5058   USA             NULL            B
5059   CAN             NULL            W
5060   USA             NULL            W
5061   USA             2006-12-15      W


5062 rows x 26 columns
memory usage: 1.68 MB
type: getml.DataFrame

In [7]:
# TODO: Annotate columns with roles
draft

 name   id              playerID        year            stint           ...   PostftAttempted   PostftMade
 role   unused_string   unused_string   unused_string   unused_string   ...   unused_string     unused_string
    0   1               abdelal01       1990            1               ...   0                 0
    1   2               abdelal01       1991            1               ...   4                 2
    2   3               abdelal01       1992            1               ...   0                 0
    3   4               abdelal01       1992            2               ...   0                 0
    4   5               abdelal01       1993            1               ...   0                 0
        ...             ...             ...             ...                   ...               ...
23746   23747           zimmede01       2005            1               ...   0                 0
23747   23748           zoetji01        1982            1               ...   0                 0
23748   23749           zopfbi01        1970            1               ...   0                 0
23749   23750           zunicma01       1947            0               ...   0                 0
23750   23751           zunicma01       1948            1               ...   19                12

 name   PostthreeAttempted   PostthreeMade   note
 role   unused_string        unused_string   unused_string
    0   0                    0               NULL
    1   0                    0               NULL
    2   0                    0               NULL
    3   0                    0               NULL
    4   0                    0               NULL
        ...                  ...             ...
23746   0                    0               NULL
23747   0                    0               NULL
23748   0                    0               NULL
23749   0                    0               NULL
23750   0                    0               NULL


23751 rows x 43 columns
memory usage: 11.15 MB
type: getml.DataFrame

In [8]:
# TODO: Annotate columns with roles
series_post

name   playerID        last_name       first_name      season_id       ...   fg_made         ft_attempted    ft_made
role   unused_string   unused_string   unused_string   unused_string   ...   unused_string   unused_string   unused_string
   0   abdulka01       Abdul-Jabbar    Kareem          1969            ...   4               2               2
   1   abdulka01       Abdul-Jabbar    Kareem          1970            ...   8               4               3
   2   abdulka01       Abdul-Jabbar    Kareem          1971            ...   5               2               2
   3   abdulka01       Abdul-Jabbar    Kareem          1972            ...   NULL            NULL            NULL
   4   abdulka01       Abdul-Jabbar    Kareem          1973            ...   7               0               0
       ...             ...             ...             ...                   ...             ...             ...
1603   yardlge01       Yardley         George          1956            ...   4               1               1
1604   yardlge01       Yardley         George          1957            ...   8               5               3
1605   yardlge01       Yardley         George          1958            ...   2               2               2
1606   yardlge01       Yardley         George          1959            ...   5               2               1
1607   zasloma01       Zaslofsky       Max             1951            ...   3               5               5

name   three_attempted   three_made
role   unused_string     unused_string
   0   NULL              NULL
   1   NULL              NULL
   2   NULL              NULL
   3   NULL              NULL
   4   NULL              NULL
       ...               ...
1603   NULL              NULL
1604   NULL              NULL
1605   NULL              NULL
1606   NULL              NULL
1607   NULL              NULL


1608 rows x 23 columns
memory usage: 0.40 MB
type: getml.DataFrame

In [9]:
# TODO: Annotate columns with roles
players_teams

name   playerID        award                       year            lgID            note            pos
role   unused_string   unused_string               unused_string   unused_string   unused_string   unused_string
   0   abdulka01       All-Defensive Second Team   1969            NBA             NULL            NULL
   1   abdulka01       All-NBA Second Team         1969            NBA             NULL            C
   2   abdulka01       Rookie of the Year          1969            NBA             NULL            NULL
   3   abdulka01       All-Defensive Second Team   1970            NBA             NULL            NULL
   4   abdulka01       All-NBA First Team          1970            NBA             NULL            C
       ...             ...                         ...             ...             ...             ...
1714   youngth01       All-Rookie Second Team      2007            NBA             NULL            NULL
1715   zasloma01       All-NBA First Team          1946            NBA             NULL            NULL
1716   zasloma01       All-NBA First Team          1947            NBA             NULL            NULL
1717   zasloma01       All-NBA First Team          1948            NBA             NULL            NULL
1718   zasloma01       All-NBA First Team          1949            NBA             NULL            NULL


1719 rows x 6 columns
memory usage: 0.16 MB
type: getml.DataFrame

In [10]:
# TODO: Annotate columns with roles
player_allstar

name   id              draftYear       draftRound      draftSelection   ...   lastName        suffixName      playerID
role   unused_string   unused_string   unused_string   unused_string    ...   unused_string   unused_string   unused_string
   0   1               1967            0               0                ...   Hardy           NULL            hardyda01
   1   2               1967            0               0                ...   Krulish         NULL            NULL
   2   3               1967            0               0                ...   Lewis           NULL            lewisbo01
   3   4               1967            0               0                ...   Lynn            NULL            lynnmi01
   4   5               1967            0               0                ...   Workman         NULL            workmto01
       ...             ...             ...             ...                    ...             ...             ...
8616   8999            2011            2               26               ...   Maduabum        NULL            NULL
8617   9000            2011            2               27               ...   Ngombo          NULL            NULL
8618   9001            2011            2               28               ...   Majok           NULL            NULL
8619   9002            2011            2               29               ...   Hanga           NULL            NULL
8620   9003            2011            2               30               ...   Thomas          NULL            thomais02

name   draftFrom                      lgID
role   unused_string                  unused_string
   0   Baylor                         ABA
   1   Pacific                        ABA
   2   North Carolina                 ABA
   3   UCLA                           ABA
   4   Seattle                        ABA
       ...                            ...
8616   Bakersfield Jam (D-League)     NBA
8617   Al Rayyan (Qatar)              NBA
8618   Gold Coast Blaze (Australia)   NBA
8619   Assignia Manresa (Spain)       NBA
8620   Washington                     NBA


8621 rows x 12 columns
memory usage: 1.31 MB
type: getml.DataFrame

In [11]:
# TODO: Annotate columns with roles
awards_players

name   id              year            coachID         award                   lgID            note
role   unused_string   unused_string   unused_string   unused_string           unused_string   unused_string
   0   1               1962            gallaha01       NBA Coach of the Year   NBA             NULL
   1   2               1963            hannual01       NBA Coach of the Year   NBA             NULL
   2   3               1964            auerbre01       NBA Coach of the Year   NBA             NULL
   3   4               1965            schaydo01       NBA Coach of the Year   NBA             NULL
   4   5               1966            kerrjo01        NBA Coach of the Year   NBA             NULL
       ...             ...             ...             ...                     ...             ...
  56   57              2007            scottby01       NBA Coach of the Year   NBA             NULL
  57   58              2008            brownmi02       NBA Coach of the Year   NBA             NULL
  58   59              2009            brooksc01       NBA Coach of the Year   NBA             NULL
  59   60              2010            thiboto01       NBA Coach of the Year   NBA             NULL
  60   61              2011            popovgr01       NBA Coach of the Year   NBA             NULL


61 rows x 6 columns
memory usage: 0.01 MB
type: getml.DataFrame

The next step is to define the data model. Refer to [https://relational.fel.cvut.cz/dataset/Basketball_men](https://relational.fel.cvut.cz/dataset/Basketball_men)
for a description of the dataset.

In [12]:
dm = getml.data.DataModel(population=teams.to_placeholder())
dm.add(getml.data.to_placeholder(**peripheral))

# TODO
# dm.population.join(...)

Now we can create the container and add the tables to it.

In [13]:
container = getml.data.Container(population=teams, split=teams.split)
container.add(**peripheral)

container

population
    subset   name    rows   type
0   train    teams   1076   View
1   val      teams    460   View

peripheral
    name              rows   type
0   series_post        775   DataFrame
1   coaches           1689   DataFrame
2   players           5062   DataFrame
3   players_teams    23751   DataFrame
4   player_allstar    1608   DataFrame
5   awards_players    1719   DataFrame
6   draft             8621   DataFrame
7   awards_coaches      61   DataFrame