In [1]:
import getml
from challenge.utils.data import load_ctu_dataset

getml.set_project("grants")

Connected to project 'grants'.

# Task: Grants
### Dataset Description
> <span style="font-weight: 500; color: #3b3b3b;">ⓘ️&nbsp; Generated by `gpt-4o`</span>
>
> The *Grants* dataset includes funding grants from the National Science Foundation. It is used for a regression task, with the target column being *award_amount* in the *awards* table.
> 
> **Data Model:**
> 
> - **foa_info_awards** table:
>   - *award_id*: int
>   - *code*: int
> 
> - **institution_awards** table:
>   - *award_id*: int
>   - *name*: varchar
>   - *zipcode*: varchar
> 
> - **investigator_awards** table:
>   - *award_id*: int
>   - *email_id*: varchar
>   - *start_date*: varchar
>   - *end_date*: varchar
>   - *role_code*: varchar
> 
> - **program_element_awards** table:
>   - *award_id*: int
>   - *code*: varchar
> 
> - **program_reference_awards** table:
>   - *award_id*: int
>   - *code*: varchar
> 
> - **awards** table:
>   - *award_title*: varchar
>   - *award_effective_date*: varchar
>   - *award_expiration_date*: varchar
>   - *award_amount*: int (target column)
>   - *award_instrument*: varchar
>   - *organisation_code*: int
>   - *program_officer*: varchar
>   - *abstract_narration*: varchar
>   - *min_amd_letter_date*: varchar
>   - *max_amd_letter_date*: varchar
>   - *arra_amount*: int
>   - *award_id*: int
> 
> - **institution** table:
>   - *name*: varchar
>   - *city_name*: varchar
>   - *zipcode*: varchar
>   - *contact*: int
>   - *address*: varchar
>   - *country_name*: varchar
>   - *state_name*: varchar
>   - *state_code*: varchar
> 
> - **investigator** table:
>   - *email_id*: varchar
>   - *first_name*: varchar
>   - *last_name*: varchar
> 
> - **program_element** table:
>   - *code*: varchar
>   - *text*: varchar
> 
> - **program_reference** table:
>   - *code*: varchar
>   - *text*: varchar
> 
> - **organization** table:
>   - *code*: int
>   - *division*: varchar
>   - *directorate*: varchar
> 
> - **foa_info** table:
>   - *code*: int
>   - *name*: varchar
> 
> **Metadata:**
> 
> - Size: 890.8 MB
> - Number of tables: 12
> - Number of rows: 2,914,549
> - Number of columns: 46
> - Missing values: No
> - Compound keys: Yes
> - Loops: No
> - Type: Real
> - Instance count: 385,882
> 
> The dataset is used in educational research to analyze grant funding patterns and predict award amounts. It provides insights into funding distribution and research support.

### Tables
Population table: awards

<h4>
  <details open>
     <summary>ER Diagram</summary>
       <img src="https://relational.fel.cvut.cz/assets/img/datasets-generated/Grants.svg" alt="Grants ER Diagram">
   </details>
</h4>

To load the dataset, we use the `load_ctu_dataset` function from the `utils`
module. This function returns a tuple with the population table as the first
element and the a dictionary of peripheral tables as the second element.

In [2]:
awards, peripheral = load_ctu_dataset("Grants")

(
    investigator,
    organization,
    program_reference_awards,
    program_element,
    foa_info,
    foa_info_awards,
    institution,
    institution_awards,
    investigator_awards,
    program_element_awards,
    program_reference,
) = peripheral.values()

Analyzing schema:   0%|          | 0/12 [00:00<?, ?it/s]

Downloading tables:   0%|          | 0/12 [00:00<?, ?it/s]

Building data:   0%|          | 0/12 [00:00<?, ?it/s]

Now, we can inspect all tables and annotate the columns with [roles](https://getml.com/latest/user_guide/concepts/annotating_data/).

The population table (`awards`).

We already set the `target` role for the target (`award_amount`).


award_amount is the target column for a regression task.

In [3]:
# TODO: Annotate remaining columns with roles
awards

  name   award_amount   organisation_code    arra_amount       award_id   ...   program_officer
  role         target        unused_float   unused_float   unused_float   ...   unused_string
     0              0             8070100              0              0   ...   name not available
     1         280000             7030000              0              9   ...   George A. Hazelrigg
     2         292026             7010000              0             26   ...   Rajinder P. Khosla
     3         238000             7030000              0             27   ...   Masayoshi Tomizuka
     4         285000             7030000              0             31   ...   Shih-Chi Liu
                  ...                 ...            ...            ...         ...
430334         221100             5020000              0        9996450   ...   Ephraim P. Glinert
430335         102325             6030204              0        9996451   ...   Robin Reichlin
430336          80214             4050100              0        9996452   ...   Daniel H. Newlon
430337        3618833            11040101              0        9996453   ...   Joan T Prival
430338         144500             3010500              0        9996454   ...   Earle L. Lomon

  name   abstract_narration                 min_amd_letter_date   max_amd_letter_date   split
  role   unused_string                      unused_string         unused_string         unused_string
     0   NULL                               NULL                  NULL                  train
     1   This project will focus on devel...   06/23/2000            04/16/2002            val
     2   The purpose of the proposed work...   07/14/2000            01/31/2003            train
     3   0000027<br/>The objective of thi...   04/12/2000            06/24/2003            train
     4   0000031<br/>Engelhardt<br/>The o...   05/12/2000            05/12/2000            train
         ...                                ...                   ...                   ...
430334   NULL                               09/29/1999            02/26/2001            train
430335   NULL                               10/07/1999            10/29/2002            train
430336   NULL                               09/29/1999            09/29/1999            val
430337   NULL                               09/30/1999            08/20/2004            train
430338   NULL                               09/30/1999            05/07/2001            val


430339 rows x 13 columns
memory usage: 690.52 MB
type: getml.DataFrame

Peripheral tables,

In [4]:
# TODO: Annotate columns with roles
investigator

  name       award_id   code
  role   unused_float   unused_string
     0              9   9146
     1              9   MANU
     2             26   5914
     3             26   5998
     4             26   9251
                  ...   ...
552504        9996449   7419
552505        9996449   9178
552506        9996449   SMET
552507        9996450   9139
552508        9996450   HPCC


552509 rows x 2 columns
memory usage: 11.60 MB
type: getml.DataFrame

In [5]:
# TODO: Annotate columns with roles
organization

 name        contact   name                               city_name        zipcode         address
 role   unused_float   unused_string                      unused_string    unused_string   unused_string
    0              0   18F GSA                            Washington       204050001       1800 F Street, N.W.
    1     2147483647   21ST CENTURY EXPO GROUP            LANDOVER         207851519       3321-P 75TH AVE
    2     2027453745   21st Century School Fund           Washington, DC   200094422       1816 12th Street, NW
    3     2028286688   27 International Geographical Co...   Washington       200364701       1145 17th Street N.W
    4     2147483647   2Cimple Inc                        Plano            750255736       3101 Hoffman Dr
                 ...   ...                                ...              ...             ...
16686     2147483647   Zynnovation LLC                    Midlothian       231132306       11725 N. Briarpatch Drive
16687     2147483647   Zyrobotics LLC                     Atlanta          303192002       3522 Ashford Dunwoody Suite #105
16688              0   Zysk Adam M                        Palatine         600676019       NULL
16689     2147483647   Zytron Ltd                         Saint Paul       551045701       85 N Cretin
16690     2147483647   Zzyzx Polymers LLC                 Allentown        181033160       905 Harrison Street Ste 131

 name   country_name    state_name             state_code
 role   unused_string   unused_string          unused_string
    0   United States   District of Columbia   DC
    1   United States   Maryland               MD
    2   United States   District of Columbia   DC
    3   United States   District of Columbia   DC
    4   United States   Texas                  TX
        ...             ...                    ...
16686   United States   Virginia               VA
16687   United States   Georgia                GA
16688   United States   Illinois               IL
16689   United States   Minnesota              MN
16690   United States   Pennsylvania           PA


16691 rows x 8 columns
memory usage: 2.50 MB
type: getml.DataFrame

In [6]:
# TODO: Annotate columns with roles
program_reference_awards

  name       award_id   name                               zipcode
  role   unused_float   unused_string                      unused_string
     0              0   Virginia Polytechnic Institute a...   240610001
     1              9   University of Florida              326112002
     2             26   North Carolina State University    276957514
     3             27   University of Texas at Austin      787121532
     4             31   University of Texas at Austin      787121532
                  ...   ...                                ...
416734        9996450   University of Washington           981950001
416735        9996451   Trustees of Boston University      022151300
416736        9996452   National Bureau of Economic Rese...   021385398
416737        9996453   Portland State University          972070751
416738        9996454   Arizona State University           852816011


416739 rows x 3 columns
memory usage: 26.33 MB
type: getml.DataFrame

In [7]:
# TODO: Annotate columns with roles
program_element

name           code   division                           directorate
role   unused_float   unused_string                      unused_string
   0              0   NULL                               NULL
   1          10000   NULL                               National Science Board
   2          20000   NULL                               Office Of Inspector General
   3          20100   NULL                               Office Of Inspector General
   4          20200   NULL                               Office Of Inspector General
                ...   ...                                ...
 470       11090300   Direct For Education and Human R...   Division Of Research On Learning
 471       12000000   National Coordination Office       National Coordination Office
 472       13000000   Natl Nanotechnology Coordinating...   Natl Nanotechnology Coordinating...
 473       14010000   Office Of Polar Programs           Arctic Sciences Division
 474       17090201   NULL                               NULL


475 rows x 3 columns
memory usage: 0.04 MB
type: getml.DataFrame

In [8]:
# TODO: Annotate columns with roles
foa_info

name   code            text
role   unused_string   unused_string
   0   0               UNASSIGNED
   1   001B            Big Pitch
   2   001E            Air pollution
   3   001P            GRANTS.GOV
   4   001Z            Ebola
       ...             ...
2020   OSIE            MULTID RSCH IN OPTI SCI & ENGI
2021   OTHR            OTHER RESEARCH OR EDUCATION
2022   SMET            "SCIENCE
2023   UNKN            Primary initiative not assigned
2024   WATR            WATER AND WATERSHEDS


2025 rows x 2 columns
memory usage: 0.09 MB
type: getml.DataFrame

In [9]:
# TODO: Annotate columns with roles
foa_info_awards

  name       award_id   code
  role   unused_float   unused_string
     0              9   1468
     1             26   1517
     2             26   5979
     3             26   5980
     4             33   1636
                  ...   ...
353797        9996450   6845
353798        9996450   X033
353799        9996450   X050
353800        9996450   Y911
353801        9996450   Y938


353802 rows x 2 columns
memory usage: 7.43 MB
type: getml.DataFrame

In [10]:
# TODO: Annotate columns with roles
institution

  name       award_id           code
  role   unused_float   unused_float
     0              9         308000
     1             26         206000
     2             27         106000
     3             31         106000
     4             33         304000
                  ...            ...
395451        9996448         104000
395452        9996448         116000
395453        9996449             99
395454        9996450         104000
395455        9996451             99


395456 rows x 2 columns
memory usage: 6.33 MB
type: getml.DataFrame

In [11]:
# TODO: Annotate columns with roles
institution_awards

  name   email_id                           first_name      last_name
  role   unused_string                      unused_string   unused_string
     0   NULL                               Robert          Hughes
     1                                   ...   Thomas          Beck
     2                                   ...   Michael         Farona
     3    GuilfoyleT@missouri.edu           Thomas          Guilfoyle
     4    jay.lawrence@dartmouth.edu        Walter          Lawrence
         ...                                ...             ...
150191   zzl1@psu.edu                       Zhiwen          Liu
150192   zzotto@mail.nwmissouri.edu         Russell         Pinizzotto
150193   zzwang@usc.edu                     Zuo-Zhong       Wang
150194   z_jia@uncg.edu                     Zhenquan        Jia
150195   `                                  Peter           Soltani


150196 rows x 3 columns
memory usage: 8.89 MB
type: getml.DataFrame

In [12]:
# TODO: Annotate columns with roles
investigator_awards

name           code   name
role   unused_float   unused_string
   0             10   Physical Sciences
   1             11   Astronomy
   2             12   Chemistry
   3             13   Physics
   4             14   Condensed Matter Physics
                ...   ...
 195         600000   Facilities
 196         601000   Facilities - Repair/Renovation
 197         602000   Facilities - Replacement
 198         603000   Facilities - Combination
 199        9900000   DATA NOT AVAILABLE


200 rows x 2 columns
memory usage: 0.01 MB
type: getml.DataFrame

In [13]:
# TODO: Annotate columns with roles
program_element_awards

  name       award_id   email_id                 start_date      end_date        role_code
  role   unused_float   unused_string            unused_string   unused_string   unused_string
     0              0   tilarson@vt.edu          07/01/1986      NULL            Principal Investigator
     1              9   jtlusty@ufl.edu          06/23/2000      NULL            Co-Principal Investigator
     2              9   jziegert@uncc.edu        06/23/2000      NULL            Principal Investigator
     3              9   tony.schmitz@uncc.edu    06/23/2000      NULL            Co-Principal Investigator
     4             26   angus@brown.edu          07/14/2000      NULL            Co-Principal Investigator
                  ...   ...                      ...             ...             ...
635805        9996450   mo@ee.washington.edu     02/07/1997      NULL            Principal Investigator
635806        9996451   abers@cornell.edu        12/01/1998      NULL            Principal Investigator
635807        9996452   krogoff@harvard.edu      06/17/1997      NULL            Principal Investigator
635808        9996453   marj@mth.pdx.edu         08/15/1997      NULL            Principal Investigator
635809        9996454   Ying-Cheng.Lai@asu.edu   06/16/1997      NULL            Principal Investigator


635810 rows x 5 columns
memory usage: 59.85 MB
type: getml.DataFrame

In [14]:
# TODO: Annotate columns with roles
program_reference

 name   code            text
 role   unused_string   unused_string
    0   0               NULL
    1   001F            SODV - CONSTRUCTION
    2   001P            GRANTS.GOV
    3   001Y            Collections Postdocs
    4   002F            SODV - OPERATIONS & MAINTENANC
        ...             ...
12684   Z995            NULL
12685   Z996            NULL
12686   Z997            NULL
12687   Z998            NULL
12688   Z999            NULL


12689 rows x 2 columns
memory usage: 0.32 MB
type: getml.DataFrame

The next step is to define the data model. Refer to [https://relational.fel.cvut.cz/dataset/Grants](https://relational.fel.cvut.cz/dataset/Grants)
for a description of the dataset.

In [15]:
dm = getml.data.DataModel(population=awards.to_placeholder())
dm.add(getml.data.to_placeholder(**peripheral))

# TODO
# dm.population.join(...)

Now we can create the container and add the tables to it.

In [16]:
container = getml.data.Container(population=awards, split=awards.split)
container.add(**peripheral)

container

population
    subset   name       rows   type
0   train    awards   301238   View
1   val      awards   129101   View

peripheral
     name                         rows   type
 0   program_reference_awards   552509   DataFrame
 1   institution                 16691   DataFrame
 2   institution_awards         416739   DataFrame
 3   organization                  475   DataFrame
 4   program_reference            2025   DataFrame
     ...                           ...   ...
 6   foa_info_awards            395456   DataFrame
 7   investigator               150196   DataFrame
 8   foa_info                      200   DataFrame
 9   investigator_awards        635810   DataFrame
10   program_element             12689   DataFrame