In [1]:
import getml
from challenge.utils.data import load_ctu_dataset

getml.set_project("db_transformer_northwind")

Connected to project 'db_transformer_northwind'.

# Task: northwind
### Dataset Description
> <span style="font-weight: 500; color: #3b3b3b;">ⓘ️&nbsp; Generated by `gpt-4o`</span>
>
> *Data Model (Relational Schema)*
> 
> The Northwind dataset is structured into multiple tables, including:
> 
> - **Orders**: Contains details about customer orders.
> - **Order Details**: Provides specifics about each order, such as product and quantity.
> - **Products**: Lists products available for sale.
> - **Customers**: Contains customer information.
> - **Employees**: Details about employees.
> - **Suppliers**: Information about product suppliers.
> - **Categories**: Product categories.
> - **Shippers**: Shipping companies.
> - **Territories**: Sales territories.
> - **Region**: Geographic regions.
> 
> *Task and Target Column*
> 
> The primary task associated with this dataset is *regression*, with the target column being *Freight* in the *Orders* table.
> 
> *Types of the Columns*
> 
> - **Numeric**: Includes columns like `UnitPrice`, `Quantity`, `Freight`.
> - **String**: Includes `CustomerID`, `ProductName`, `CompanyName`.
> - **LOB (Large Object)**: Includes `Photo`, `Picture`.
> - **Temporal**: Includes `OrderDate`, `ShippedDate`, `HireDate`.
> 
> *Metadata about the Dataset*
> 
> - **Size**: 1.1 MB
> - **Number of Tables**: 29
> - **Number of Rows**: 3,308
> - **Number of Columns**: 191
> - **Missing Values**: Yes
> - **Compound Keys**: No
> - **Loops**: No
> - **Type**: Synthetic
> - **Instance Count**: 830
> 
> This dataset is a synthetic representation of a retail business, providing a comprehensive view of sales, products, and customer interactions.

### Tables
Population table: orders

<h4>
  <details open>
     <summary>ER Diagram</summary>
       <img src="https://relational.fel.cvut.cz/assets/img/datasets-generated/northwind.svg" alt="northwind ER Diagram">
   </details>
</h4>

To load the dataset, we use the `load_ctu_dataset` function from the `utils`
module. This function returns a tuple with the population table as the first
element and the a dictionary of peripheral tables as the second element.

In [2]:
orders, peripheral = load_ctu_dataset("northwind")

(
    employees,
    suppliers,
    territories,
    shippers,
    categories,
    order_details,
    customer_demographics,
    region,
    products,
    customers,
    customer_customer_demo,
    employee_territories,
) = peripheral.values()

Analyzing schema:   0%|          | 0/13 [00:00<?, ?it/s]

Downloading tables:   0%|          | 0/13 [00:00<?, ?it/s]

Building data:   0%|          | 0/13 [00:00<?, ?it/s]

Now, we can inspect all tables and annotate the columns with [roles](https://getml.com/latest/user_guide/concepts/annotating_data/).

The population table (`orders`). We already set the `target` role for the target (`Freight`). If the task is a multiclass classification,
we split the target column into multiple columns in an one-vs-all fashion. In this case, the original target is still avaiable as `Freight`.

In [3]:
# TODO: Annotate remaining columns with roles
orders

name   Freight   OrderID         CustomerID      EmployeeID      ...   ShipCity         ShipRegion      ShipPostalCode
role    target   unused_string   unused_string   unused_string   ...   unused_string    unused_string   unused_string
   0     32.38   10248           VINET           5               ...   Reims            NULL            51100
   1     11.61   10249           TOMSP           6               ...   Mnster           NULL            44087
   2     65.83   10250           HANAR           4               ...   Rio de Janeiro   RJ              05454-876
   3     41.34   10251           VICTE           3               ...   Lyon             NULL            69004
   4     51.3    10252           SUPRD           4               ...   Charleroi        NULL            B-6000
         ...     ...             ...             ...                   ...              ...             ...
 825     24.95   11073           PERIC           2               ...   Mxico D.F.       NULL            5033
 826     18.44   11074           SIMOB           7               ...   Kobenhavn        NULL            1734
 827      6.19   11075           RICSU           8               ...   Genve            NULL            1204
 828     38.28   11076           BONAP           4               ...   Marseille        NULL            13008
 829      8.53   11077           RATTC           1               ...   Albuquerque      NM              87110

name   ShipCountry     split
role   unused_string   unused_string
   0   France          train
   1   Germany         train
   2   Brazil          train
   3   France          train
   4   Belgium         train
       ...             ...
 825   Mexico          train
 826   Denmark         train
 827   Switzerland     train
 828   France          train
 829   USA             train


830 rows x 15 columns
memory usage: 0.24 MB
type: getml.DataFrame

Peripheral tables,

In [4]:
# TODO: Annotate columns with roles
employees

name   SupplierID      CompanyName                        ContactName                   ContactTitle           ...
role   unused_string   unused_string                      unused_string                 unused_string          ...
   0   1               Exotic Liquids                     Charlotte Cooper              Purchasing Manager     ...
   1   2               New Orleans Cajun Delights         Shelley Burke                 Order Administrator    ...
   2   3               Grandma Kelly's Homestead          Regina Murphy                 Sales Representative   ...
   3   4               Tokyo Traders                      Yoshi Nagase                  Marketing Manager      ...
   4   5               Cooperativa de Quesos 'Las Cabra...   Antonio del Valle Saavedra    Export Administrator   ...
       ...             ...                                ...                           ...
  24   25              Ma Maison                          Jean-Guy Lauzon               Marketing Manager      ...
  25   26              Pasta Buttini s.r.l.               Giovanni Giudici              Order Administrator    ...
  26   27              Escargots Nouveaux                 Marie Delamare                Sales Manager          ...
  27   28              Gai pturage                        Eliane Noz                    Sales Representative   ...
  28   29              Forts d'rables                     Chantal Goulet                Accounting Manager     ...

name   PostalCode      Country         Phone            Fax              HomePage
role   unused_string   unused_string   unused_string    unused_string    unused_string
   0   EC1 4SD         UK              (171) 555-2222   NULL             NULL
   1   70117           USA             (100) 555-4822   NULL             #CAJUN.HTM#
   2   48104           USA             (313) 555-5735   (313) 555-3349   NULL
   3   100             Japan           (03) 3555-5011   NULL             NULL
   4   33007           Spain           (98) 598 76 54   NULL             NULL
       ...             ...             ...              ...              ...
  24   H1J 1C3         Canada          (514) 555-9022   NULL             NULL
  25   84100           Italy           (089) 6547665    (089) 6547667    NULL
  26   71300           France          85.57.00.07      NULL             NULL
  27   74000           France          38.76.98.06      38.76.98.58      NULL
  28   J2S 7S8         Canada          (514) 555-2955   (514) 555-2921   NULL


29 rows x 12 columns
memory usage: 0.01 MB
type: getml.DataFrame

In [5]:
# TODO: Annotate columns with roles
suppliers

name   EmployeeID      TerritoryID
role   unused_string   unused_string
   0   1               06897
   1   1               19713
   2   2               01581
   3   2               01730
   4   2               01833
       ...             ...
  44   9               48075
  45   9               48084
  46   9               48304
  47   9               55113
  48   9               55439


49 rows x 2 columns
memory usage: 0.00 MB
type: getml.DataFrame

In [6]:
# TODO: Annotate columns with roles
territories

name   ShipperID       CompanyName        Phone
role   unused_string   unused_string      unused_string
   0   1               Speedy Express     (503) 555-9831
   1   2               United Package     (503) 555-3199
   2   3               Federal Shipping   (503) 555-9931


3 rows x 3 columns
memory usage: 0.00 MB
type: getml.DataFrame

In [7]:
# TODO: Annotate columns with roles
shippers

name   OrderID         ProductID       UnitPrice       Quantity        Discount
role   unused_string   unused_string   unused_string   unused_string   unused_string
   0   10248           11              14              12              0
   1   10248           42              9.8             10              0
   2   10248           72              34.8            5               0
   3   10249           14              18.6            9               0
   4   10249           51              42.4            40              0
       ...             ...             ...             ...             ...
2150   11077           64              33.25           2               0
2151   11077           66              17              1               0
2152   11077           73              15              2               0
2153   11077           75              7.75            4               0
2154   11077           77              13              2               0


2155 rows x 5 columns
memory usage: 0.12 MB
type: getml.DataFrame

In [8]:
# TODO: Annotate columns with roles
categories

name   RegionID        RegionDescription
role   unused_string   unused_string
   0   1               Eastern                         ...
   1   2               Westerns                        ...
   2   3               Northern                        ...
   3   3               Northern                        ...


4 rows x 2 columns
memory usage: 0.00 MB
type: getml.DataFrame

In [9]:
# TODO: Annotate columns with roles
order_details

name
   0
   1
   2
   3
   4

   6
   7
   8
   9
  10


0 rows x 2 columns
memory usage: 0.00 MB
type: getml.DataFrame

In [10]:
# TODO: Annotate columns with roles
customer_demographics

name   TerritoryID     TerritoryDescription               RegionID
role   unused_string   unused_string                      unused_string
   0   01581           Westboro                        ...   1
   1   01730           Bedford                         ...   1
   2   01833           Georgetow                       ...   1
   3   02116           Boston                          ...   1
   4   02139           Cambridge                       ...   1
       ...             ...                                ...
  48   95054           Santa Clara                     ...   2
  49   95060           Santa Cruz                      ...   2
  50   98004           Bellevue                        ...   2
  51   98052           Redmond                         ...   2
  52   98104           Seattle                         ...   2


53 rows x 3 columns
memory usage: 0.00 MB
type: getml.DataFrame

In [11]:
# TODO: Annotate columns with roles
region

name   CustomerID      CompanyName                        ContactName               ContactTitle                ...
role   unused_string   unused_string                      unused_string             unused_string               ...
   0   ALFKI           Alfreds Futterkiste                Maria Anders              Sales Representative        ...
   1   ANATR           Ana Trujillo Emparedados y helad...   Ana Trujillo              Owner                       ...
   2   ANTON           Antonio Moreno Taquera             Antonio Moreno            Owner                       ...
   3   AROUT           Around the Horn                    Thomas Hardy              Sales Representative        ...
   4   BERGS           Berglunds snabbkp                  Christina Berglund        Order Administrator         ...
       ...             ...                                ...                       ...
  86   WARTH           Wartian Herkku                     Pirkko Koskitalo          Accounting Manager          ...
  87   WELLI           Wellington Importadora             Paula Parente             Sales Manager               ...
  88   WHITC           White Clover Markets               Karl Jablonski            Owner                       ...
  89   WILMK           Wilman Kala                        Matti Karttunen           Owner/Marketing Assistant   ...
  90   WOLZA           Wolski  Zajazd                     Zbyszek Piestrzeniewicz   Owner                       ...

name   Region          PostalCode      Country         Phone            Fax
role   unused_string   unused_string   unused_string   unused_string    unused_string
   0   NULL            12209           Germany         030-0074321      030-0076545
   1   NULL            05021           Mexico          (5) 555-4729     (5) 555-3745
   2   NULL            05023           Mexico          (5) 555-3932     NULL
   3   NULL            WA1 1DP         UK              (171) 555-7788   (171) 555-6750
   4   NULL            S-958 22        Sweden          0921-12 34 65    0921-12 34 67
       ...             ...             ...             ...              ...
  86   NULL            90110           Finland         981-443655       981-443655
  87   SP              08737-363       Brazil          (14) 555-8122    NULL
  88   WA              98128           USA             (206) 555-4112   (206) 555-4115
  89   NULL            21240           Finland         90-224 8858      90-224 8858
  90   NULL            01-012          Poland          (26) 642-7012    (26) 642-7012


91 rows x 11 columns
memory usage: 0.02 MB
type: getml.DataFrame

In [12]:
# TODO: Annotate columns with roles
products

name   EmployeeID      LastName        FirstName       Title                      ...   Photo
role   unused_string   unused_string   unused_string   unused_string              ...   unused_string
   0   1               Davolio         Nancy           Sales Representative       ...   ����
   1   2               Fuller          Andrew          Vice President, Sales      ...   ����
   2   3               Leverling       Janet           Sales Representative       ...   ����
   3   4               Peacock         Margaret        Sales Representative       ...   ����
   4   5               Buchanan        Steven          Sales Manager              ...   ����
   5   6               Suyama          Michael         Sales Representative       ...   ����
   6   7               King            Robert          Sales Representative       ...   ����
   7   8               Callahan        Laura           Inside Sales Coordinator   ...   ����
   8   9               Dodsworth       Anne            Sales Representative       ...   ����

name   Notes                              ReportsTo       PhotoPath                          Salary
role   unused_string                      unused_string   unused_string                      unused_string
   0   Education includes a BA in psych...   2               http://accweb/emmployees/davolio...   2954.55
   1   Andrew received his BTS commerci...   NULL            http://accweb/emmployees/fuller....   2254.49
   2   Janet has a BS degree in chemist...   2               http://accweb/emmployees/leverli...   3119.15
   3   Margaret holds a BA in English l...   2               http://accweb/emmployees/peacock...   1861.08
   4   Steven Buchanan graduated from S...   2               http://accweb/emmployees/buchana...   1744.21
   5   Michael is a graduate of Sussex ...   5               http://accweb/emmployees/davolio...   2004.07
   6   Robert King served in the Peace ...   5               http://accweb/emmployees/davolio...   1991.55
   7   Laura received a BA in psycholog...   2               http://accweb/emmployees/davolio...   2100.5
   8   Anne has a BA degree in English ...   5               http://accweb/emmployees/davolio...   2333.33


9 rows x 19 columns
memory usage: 0.01 MB
type: getml.DataFrame

In [13]:
# TODO: Annotate columns with roles
customers

name   CategoryID      CategoryName     Description                        Picture
role   unused_string   unused_string    unused_string                      unused_string
   0   1               Beverages        Soft drinks, coffees, teas, beer...   ����
   1   2               Condiments       Sweet and savory sauces, relishe...   ����
   2   3               Confections      Desserts, candies, and sweet bre...   ����
   3   4               Dairy Products   Cheeses                            ����
   4   5               Grains/Cereals   Breads, crackers, pasta, and cer...   ����
   5   5               Grains/Cereals   Breads, crackers, pasta, and cer...   ����
   6   6               Meat/Poultry     Prepared meats                     ����
   7   7               Produce          Dried fruit and bean curd          ����


8 rows x 4 columns
memory usage: 0.00 MB
type: getml.DataFrame

In [14]:
# TODO: Annotate columns with roles
customer_customer_demo

name
   0
   1
   2
   3
   4

   6
   7
   8
   9
  10


0 rows x 2 columns
memory usage: 0.00 MB
type: getml.DataFrame

In [15]:
# TODO: Annotate columns with roles
employee_territories

name   ProductID       ProductName                     SupplierID      CategoryID      ...   UnitPrice       UnitsInStock
role   unused_string   unused_string                   unused_string   unused_string   ...   unused_string   unused_string
   0   1               Chai                            1               1               ...   18              39
   1   2               Chang                           1               1               ...   19              17
   2   3               Aniseed Syrup                   1               2               ...   10              13
   3   4               Chef Anton's Cajun Seasoning    2               2               ...   22              53
   4   5               Chef Anton's Gumbo Mix          2               2               ...   21.35           0
       ...             ...                             ...             ...                   ...             ...
  72   73              Rd Kaviar                       17              8               ...   15              101
  73   74              Longlife Tofu                   4               7               ...   10              4
  74   75              Rhnbru Klosterbier              12              1               ...   7.75            125
  75   76              Lakkalikri                      23              1               ...   18              57
  76   77              Original Frankfurter grne Soe   12              2               ...   13              32

name   UnitsOnOrder    ReorderLevel    Discontinued
role   unused_string   unused_string   unused_string
   0   0               10              0
   1   40              25              0
   2   70              25              0
   3   0               0               0
   4   0               0               1
       ...             ...             ...
  72   0               5               0
  73   20              5               0
  74   0               25              0
  75   0               20              0
  76   0               15              0


77 rows x 10 columns
memory usage: 0.01 MB
type: getml.DataFrame

The next step is to define the data model. Refer to [https://relational.fel.cvut.cz/dataset/northwind](https://relational.fel.cvut.cz/dataset/northwind)
for a description of the dataset.

In [16]:
dm = getml.data.DataModel(population=orders.to_placeholder())
dm.add(getml.data.to_placeholder(**peripheral))

# TODO
# dm.population.join(...)

Now we can create the container and add the tables to it.

In [17]:
container = getml.data.Container(population=orders, split=orders.split)
container.add(**peripheral)

container

population
    subset   name     rows   type
0   train    orders    581   View
1   val      orders    249   View

peripheral
     name                     rows   type
 0   suppliers                  29   DataFrame
 1   employee_territories       49   DataFrame
 2   shippers                    3   DataFrame
 3   order details            2155   DataFrame
 4   region                      4   DataFrame
     ...                       ...   ...
 7   customers                  91   DataFrame
 8   employees                   9   DataFrame
 9   categories                  8   DataFrame
10   customer_customer_demo      0   DataFrame
11   products                   77   DataFrame