In [1]:
import getml
from challenge.utils.data import load_ctu_dataset

getml.set_project("db_transformer_sakila")

Connected to project 'db_transformer_sakila'.

# Task: sakila
### Dataset Description
> <span style="font-weight: 500; color: #3b3b3b;">ⓘ️&nbsp; Generated by `gpt-4o`</span>
>
> The *sakila* dataset is a synthetic, small, and fake database of movies, often used for testing and educational purposes. It is structured to simulate a retail environment, specifically a video rental store.
> 
> - *Data Model*: The dataset consists of 16 tables, including `payment`, `rental`, `inventory`, `customer`, `store`, `staff`, `film`, `actor`, `category`, `language`, `address`, `city`, and `country`. These tables are interconnected to represent various aspects of a video rental business.
> 
> - *Task*: The primary task associated with this dataset is *regression*, with the target column being `amount` in the `payment` table.
> 
> - *Column Types*: The dataset includes various data types:
>   - *Numeric*: `smallint`, `tinyint`, `mediumint`, `int`, `decimal`
>   - *String*: `varchar`, `text`, `char`
>   - *LOB*: `blob`
>   - *Temporal*: `datetime`, `timestamp`, `year`
> 
> - *Metadata*:
>   - Size: 6.4 MB
>   - Number of Tables: 16
>   - Number of Rows: 47,010
>   - Number of Columns: 89
>   - Missing Values: Yes
>   - Compound Keys: No
>   - Loops: Yes
>   - Instance Count: 15,991
>   - Target Table: `payment`
>   - Target Column: `amount`
>   - Target ID: `payment_id`
>   - Target Timestamp: `payment_date`
> 
> This dataset is publicly available and can be accessed through a MariaDB client.

### Tables
Population table: payment

<h4>
  <details open>
     <summary>ER Diagram</summary>
       <img src="https://relational.fel.cvut.cz/assets/img/datasets-generated/sakila.svg" alt="sakila ER Diagram">
   </details>
</h4>

To load the dataset, we use the `load_ctu_dataset` function from the `utils`
module. This function returns a tuple with the population table as the first
element and the a dictionary of peripheral tables as the second element.

In [2]:
payment, peripheral = load_ctu_dataset("sakila")

(
    film_actor,
    film_category,
    film,
    category,
    inventory,
    language,
    customer,
    staff,
    rental,
    store,
    country,
    city,
    film_text,
    address,
    actor,
) = peripheral.values()

Analyzing schema:   0%|          | 0/16 [00:00<?, ?it/s]

Downloading tables:   0%|          | 0/16 [00:00<?, ?it/s]

/Users/srnnkls/getml/getml-relbench/challenge/deep-db-learning/db_transformer/data/ctu_dataset.py:290: UserWarning: Unknown data type YEAR
  warnings.warn(f"Unknown data type {c.type}")

Building data:   0%|          | 0/16 [00:00<?, ?it/s]

/Users/srnnkls/getml/monorepo/src/python-api/getml/data/_io/arrow.py:414: UserWarning: Column 'picture' has an unsupported type: binary. The column will be ignored.
  warnings.warn(
/Users/srnnkls/getml/monorepo/src/python-api/getml/data/_io/arrow.py:414: UserWarning: Column 'rating' has an unsupported type: dictionary<values=string, indices=int8, ordered=0>. The column will be ignored.
  warnings.warn(
/Users/srnnkls/getml/monorepo/src/python-api/getml/data/_io/arrow.py:414: UserWarning: Column 'special_features' has an unsupported type: list<item: string>. The column will be ignored.
  warnings.warn(

Now, we can inspect all tables and annotate the columns with [roles](https://getml.com/latest/user_guide/concepts/annotating_data/).

The population table (`payment`). We already set the `target` role for the target (`amount`). If the task is a multiclass classification,
we split the target column into multiple columns in an one-vs-all fashion. In this case, the original target is still avaiable as `amount`.

In [3]:
# TODO: Annotate remaining columns with roles
payment

 name   amount     payment_id    customer_id       staff_id      rental_id   payment_date
 role   target   unused_float   unused_float   unused_float   unused_float   unused_string
    0     2.99              1              1              1             76   2005-05-25 11:30:37.000000
    1     0.99              2              1              1            573   2005-05-28 10:35:23.000000
    2     5.99              3              1              1           1185   2005-06-15 00:54:12.000000
    3     0.99              4              1              2           1422   2005-06-15 18:02:53.000000
    4     9.99              5              1              2           1476   2005-06-15 21:08:46.000000
         ...              ...            ...            ...            ...   ...
16044     4.99          16045            599              1          14599   2005-08-21 17:43:42.000000
16045     1.99          16046            599              1          14719   2005-08-21 21:41:57.000000
16046     8.99          16047            599              2          15590   2005-08-23 06:09:44.000000
16047     2.99          16048            599              2          15719   2005-08-23 11:08:46.000000
16048     2.99          16049            599              2          15725   2005-08-23 11:25:00.000000

 name   last_update                  split
 role   unused_string                unused_string
    0   2006-02-15 21:12:30.000000   train
    1   2006-02-15 21:12:30.000000   train
    2   2006-02-15 21:12:30.000000   train
    3   2006-02-15 21:12:30.000000   train
    4   2006-02-15 21:12:30.000000   val
        ...                          ...
16044   2006-02-15 21:24:12.000000   train
16045   2006-02-15 21:24:12.000000   train
16046   2006-02-15 21:24:12.000000   train
16047   2006-02-15 21:24:13.000000   train
16048   2006-02-15 21:24:13.000000   val


16049 rows x 8 columns
memory usage: 1.98 MB
type: getml.DataFrame

Peripheral tables,

In [4]:
# TODO: Annotate columns with roles
film_actor

name     address_id        city_id   address                    address2        district        postal_code     phone
role   unused_float   unused_float   unused_string              unused_string   unused_string   unused_string   unused_string
   0              1            300   47 MySakila Drive          NULL            Alberta         NULL            NULL
   1              2            576   28 MySQL Boulevard         NULL            QLD             NULL            NULL
   2              3            300   23 Workhaven Lane          NULL            Alberta         NULL            14033335568
   3              4            576   1411 Lillydale Drive       NULL            QLD             NULL            6172235589
   4              5            463   1913 Hanoi Way             NULL            Nagasaki        35200           28303384290
                ...            ...   ...                        ...             ...             ...             ...
 598            601            242   844 Bucuresti Place        NULL            Liaoning        36603           935952366111
 599            602            401   1101 Bucuresti Boulevard   NULL            West Greece     97661           199514580428
 600            603            503   1103 Quilmes Boulevard     NULL            Piura           52137           644021380889
 601            604            296   1331 Usak Boulevard        NULL            Vaud            61960           145308717464
 602            605            537   1325 Fukuyama Street       NULL            Heilongjiang    27107           288241215394

name   last_update
role   unused_string
   0   2006-02-15 03:45:30.000000
   1   2006-02-15 03:45:30.000000
   2   2006-02-15 03:45:30.000000
   3   2006-02-15 03:45:30.000000
   4   2006-02-15 03:45:30.000000
       ...
 598   2006-02-15 03:45:30.000000
 599   2006-02-15 03:45:30.000000
 600   2006-02-15 03:45:30.000000
 601   2006-02-15 03:45:30.000000
 602   2006-02-15 03:45:30.000000


603 rows x 8 columns
memory usage: 0.08 MB
type: getml.DataFrame

In [5]:
# TODO: Annotate columns with roles
film_category

name     country_id   country                last_update
role   unused_float   unused_string          unused_string
   0              1   Afghanistan            2006-02-15 03:44:00.000000
   1              2   Algeria                2006-02-15 03:44:00.000000
   2              3   American Samoa         2006-02-15 03:44:00.000000
   3              4   Angola                 2006-02-15 03:44:00.000000
   4              5   Anguilla               2006-02-15 03:44:00.000000
                ...   ...                    ...
 104            105   Vietnam                2006-02-15 03:44:00.000000
 105            106   Virgin Islands, U.S.   2006-02-15 03:44:00.000000
 106            107   Yemen                  2006-02-15 03:44:00.000000
 107            108   Yugoslavia             2006-02-15 03:44:00.000000
 108            109   Zambia                 2006-02-15 03:44:00.000000


109 rows x 3 columns
memory usage: 0.01 MB
type: getml.DataFrame

In [6]:
# TODO: Annotate columns with roles
film

name    customer_id       store_id     address_id         active   first_name      last_name
role   unused_float   unused_float   unused_float   unused_float   unused_string   unused_string
   0              1              1              5              1   MARY            SMITH
   1              2              1              6              1   PATRICIA        JOHNSON
   2              3              1              7              1   LINDA           WILLIAMS
   3              4              2              8              1   BARBARA         JONES
   4              5              1              9              1   ELIZABETH       BROWN
                ...            ...            ...            ...   ...             ...
 594            595              1            601              1   TERRENCE        GUNDERSON
 595            596              1            602              1   ENRIQUE         FORSYTHE
 596            597              1            603              1   FREDDIE         DUGGAN
 597            598              1            604              1   WADE            DELVALLE
 598            599              2            605              1   AUSTIN          CINTRON

name   email                              create_date                  last_update
role   unused_string                      unused_string                unused_string
   0   MARY.SMITH@sakilacustomer.org      2006-02-14 22:04:36.000000   2006-02-15 03:57:20.000000
   1   PATRICIA.JOHNSON@sakilacustomer....   2006-02-14 22:04:36.000000   2006-02-15 03:57:20.000000
   2   LINDA.WILLIAMS@sakilacustomer.or...   2006-02-14 22:04:36.000000   2006-02-15 03:57:20.000000
   3   BARBARA.JONES@sakilacustomer.org   2006-02-14 22:04:36.000000   2006-02-15 03:57:20.000000
   4   ELIZABETH.BROWN@sakilacustomer.o...   2006-02-14 22:04:36.000000   2006-02-15 03:57:20.000000
       ...                                ...                          ...
 594   TERRENCE.GUNDERSON@sakilacustome...   2006-02-14 22:04:37.000000   2006-02-15 03:57:20.000000
 595   ENRIQUE.FORSYTHE@sakilacustomer....   2006-02-14 22:04:37.000000   2006-02-15 03:57:20.000000
 596   FREDDIE.DUGGAN@sakilacustomer.or...   2006-02-14 22:04:37.000000   2006-02-15 03:57:20.000000
 597   WADE.DELVALLE@sakilacustomer.org   2006-02-14 22:04:37.000000   2006-02-15 03:57:20.000000
 598   AUSTIN.CINTRON@sakilacustomer.or...   2006-02-14 22:04:37.000000   2006-02-15 03:57:20.000000


599 rows x 9 columns
memory usage: 0.10 MB
type: getml.DataFrame

In [7]:
# TODO: Annotate columns with roles
category

name    language_id   name            last_update
role   unused_float   unused_string   unused_string
   0              1   English         2006-02-15 04:02:19.000000
   1              2   Italian         2006-02-15 04:02:19.000000
   2              3   Japanese        2006-02-15 04:02:19.000000
   3              4   Mandarin        2006-02-15 04:02:19.000000
   4              4   Mandarin        2006-02-15 04:02:19.000000
   5              5   French          2006-02-15 04:02:19.000000


6 rows x 3 columns
memory usage: 0.00 MB
type: getml.DataFrame

In [8]:
# TODO: Annotate columns with roles
inventory

name        film_id    category_id   last_update
role   unused_float   unused_float   unused_string
   0              1              6   2006-02-15 04:07:09.000000
   1              2             11   2006-02-15 04:07:09.000000
   2              3              6   2006-02-15 04:07:09.000000
   3              4             11   2006-02-15 04:07:09.000000
   4              5              8   2006-02-15 04:07:09.000000
                ...            ...   ...
 995            996              6   2006-02-15 04:07:09.000000
 996            997             12   2006-02-15 04:07:09.000000
 997            998             11   2006-02-15 04:07:09.000000
 998            999              3   2006-02-15 04:07:09.000000
 999           1000              5   2006-02-15 04:07:09.000000


1000 rows x 3 columns
memory usage: 0.05 MB
type: getml.DataFrame

In [9]:
# TODO: Annotate columns with roles
language

name       staff_id     address_id       store_id         active   ...   last_name       email
role   unused_float   unused_float   unused_float   unused_float   ...   unused_string   unused_string
   0              1              3              1              1   ...   Hillyer         Mike.Hillyer@sakilastaff.com
   1              2              4              2              1   ...   Stephens        Jon.Stephens@sakilastaff.com

name   username        password                           last_update
role   unused_string   unused_string                      unused_string
   0   Mike            8cb2237d0679ca88db6464eac60da963...   2006-02-15 03:57:16.000000
   1   Jon             8cb2237d0679ca88db6464eac60da963...   2006-02-15 03:57:16.000000


2 rows x 10 columns
memory usage: 0.00 MB
type: getml.DataFrame

In [10]:
# TODO: Annotate columns with roles
customer

 name      rental_id   inventory_id    customer_id       staff_id   rental_date                  return_date
 role   unused_float   unused_float   unused_float   unused_float   unused_string                unused_string
    0              1            367            130              1   2005-05-24 22:53:30.000000   2005-05-26 22:04:30.000000
    1              2           1525            459              1   2005-05-24 22:54:33.000000   2005-05-28 19:40:33.000000
    2              3           1711            408              1   2005-05-24 23:03:39.000000   2005-06-01 22:12:39.000000
    3              4           2452            333              2   2005-05-24 23:04:41.000000   2005-06-03 01:43:41.000000
    4              5           2079            222              1   2005-05-24 23:05:21.000000   2005-06-02 04:33:21.000000
                 ...            ...            ...            ...   ...                          ...
16039          16045            772             14              1   2005-08-23 22:25:26.000000   2005-08-25 23:54:26.000000
16040          16046           4364             74              2   2005-08-23 22:26:47.000000   2005-08-27 18:02:47.000000
16041          16047           2088            114              2   2005-08-23 22:42:48.000000   2005-08-25 02:48:48.000000
16042          16048           2019            103              1   2005-08-23 22:43:07.000000   2005-08-31 21:33:07.000000
16043          16049           2666            393              2   2005-08-23 22:50:12.000000   2005-08-30 01:01:12.000000

 name   last_update
 role   unused_string
    0   2006-02-15 20:30:53.000000
    1   2006-02-15 20:30:53.000000
    2   2006-02-15 20:30:53.000000
    3   2006-02-15 20:30:53.000000
    4   2006-02-15 20:30:53.000000
        ...
16039   2006-02-15 20:30:53.000000
16040   2006-02-15 20:30:53.000000
16041   2006-02-15 20:30:53.000000
16042   2006-02-15 20:30:53.000000
16043   2006-02-15 20:30:53.000000


16044 rows x 7 columns
memory usage: 2.19 MB
type: getml.DataFrame

In [11]:
# TODO: Annotate columns with roles
staff

name   inventory_id        film_id       store_id   last_update
role   unused_float   unused_float   unused_float   unused_string
   0              1              1              1   2006-02-15 04:09:17.000000
   1              2              1              1   2006-02-15 04:09:17.000000
   2              3              1              1   2006-02-15 04:09:17.000000
   3              4              1              1   2006-02-15 04:09:17.000000
   4              5              1              2   2006-02-15 04:09:17.000000
                ...            ...            ...   ...
4576           4577           1000              1   2006-02-15 04:09:17.000000
4577           4578           1000              2   2006-02-15 04:09:17.000000
4578           4579           1000              2   2006-02-15 04:09:17.000000
4579           4580           1000              2   2006-02-15 04:09:17.000000
4580           4581           1000              2   2006-02-15 04:09:17.000000


4581 rows x 4 columns
memory usage: 0.27 MB
type: getml.DataFrame

In [12]:
# TODO: Annotate columns with roles
rental

name       actor_id        film_id   last_update
role   unused_float   unused_float   unused_string
   0              1              1   2006-02-15 04:05:03.000000
   1              1             23   2006-02-15 04:05:03.000000
   2              1             25   2006-02-15 04:05:03.000000
   3              1            106   2006-02-15 04:05:03.000000
   4              1            140   2006-02-15 04:05:03.000000
                ...            ...   ...
5457            200            879   2006-02-15 04:05:03.000000
5458            200            912   2006-02-15 04:05:03.000000
5459            200            945   2006-02-15 04:05:03.000000
5460            200            958   2006-02-15 04:05:03.000000
5461            200            993   2006-02-15 04:05:03.000000


5462 rows x 3 columns
memory usage: 0.28 MB
type: getml.DataFrame

In [13]:
# TODO: Annotate columns with roles
store

name        film_id   title               description
role   unused_float   unused_string       unused_string
   0              1   ACADEMY DINOSAUR    A Epic Drama of a Feminist And a...
   1              2   ACE GOLDFINGER      A Astounding Epistle of a Databa...
   2              3   ADAPTATION HOLES    A Astounding Reflection of a Lum...
   3              4   AFFAIR PREJUDICE    A Fanciful Documentary of a Fris...
   4              5   AFRICAN EGG         A Fast-Paced Documentary of a Pa...
                ...   ...                 ...
 995            996   YOUNG LANGUAGE      A Unbelieveable Yarn of a Boat A...
 996            997   YOUTH KICK          A Touching Drama of a Teacher An...
 997            998   ZHIVAGO CORE        A Fateful Yarn of a Composer And...
 998            999   ZOOLANDER FICTION   A Fateful Reflection of a Waitre...
 999           1000   ZORRO ARK           A Intrepid Panorama of a Mad Sci...


1000 rows x 3 columns
memory usage: 0.13 MB
type: getml.DataFrame

In [14]:
# TODO: Annotate columns with roles
country

name        city_id     country_id   city                 last_update
role   unused_float   unused_float   unused_string        unused_string
   0              1             87   A Corua (La Corua)   2006-02-15 03:45:25.000000
   1              2             82   Abha                 2006-02-15 03:45:25.000000
   2              3            101   Abu Dhabi            2006-02-15 03:45:25.000000
   3              4             60   Acua                 2006-02-15 03:45:25.000000
   4              5             97   Adana                2006-02-15 03:45:25.000000
                ...            ...   ...                  ...
 595            596             69   Zaria                2006-02-15 03:45:25.000000
 596            597             80   Zeleznogorsk         2006-02-15 03:45:25.000000
 597            598             51   Zhezqazghan          2006-02-15 03:45:25.000000
 598            599             23   Zhoushan             2006-02-15 03:45:25.000000
 599            600             83   Ziguinchor           2006-02-15 03:45:25.000000


600 rows x 4 columns
memory usage: 0.04 MB
type: getml.DataFrame

In [15]:
# TODO: Annotate columns with roles
city

name        film_id   release_year    language_id   original_language_id   ...         length   replacement_cost
role   unused_float   unused_float   unused_float           unused_float   ...   unused_float       unused_float
   0              1           2006              1                   nan    ...             86              20.99
   1              2           2006              1                   nan    ...             48              12.99
   2              3           2006              1                   nan    ...             50              18.99
   3              4           2006              1                   nan    ...            117              26.99
   4              5           2006              1                   nan    ...            130              22.99
                ...            ...            ...                    ...                  ...              ...
 995            996           2006              1                   nan    ...            183               9.99
 996            997           2006              1                   nan    ...            179              14.99
 997            998           2006              1                   nan    ...            105              10.99
 998            999           2006              1                   nan    ...            101              28.99
 999           1000           2006              1                   nan    ...             50              18.99

name   title               description                        last_update
role   unused_string       unused_string                      unused_string
   0   ACADEMY DINOSAUR    A Epic Drama of a Feminist And a...   2006-02-15 04:03:42.000000
   1   ACE GOLDFINGER      A Astounding Epistle of a Databa...   2006-02-15 04:03:42.000000
   2   ADAPTATION HOLES    A Astounding Reflection of a Lum...   2006-02-15 04:03:42.000000
   3   AFFAIR PREJUDICE    A Fanciful Documentary of a Fris...   2006-02-15 04:03:42.000000
   4   AFRICAN EGG         A Fast-Paced Documentary of a Pa...   2006-02-15 04:03:42.000000
       ...                 ...                                ...
 995   YOUNG LANGUAGE      A Unbelieveable Yarn of a Boat A...   2006-02-15 04:03:42.000000
 996   YOUTH KICK          A Touching Drama of a Teacher An...   2006-02-15 04:03:42.000000
 997   ZHIVAGO CORE        A Fateful Yarn of a Composer And...   2006-02-15 04:03:42.000000
 998   ZOOLANDER FICTION   A Fateful Reflection of a Waitre...   2006-02-15 04:03:42.000000
 999   ZORRO ARK           A Intrepid Panorama of a Mad Sci...   2006-02-15 04:03:42.000000


1000 rows x 11 columns
memory usage: 0.23 MB
type: getml.DataFrame

In [16]:
# TODO: Annotate columns with roles
film_text

name    category_id   name            last_update
role   unused_float   unused_string   unused_string
   0              1   Action          2006-02-15 03:46:27.000000
   1              2   Animation       2006-02-15 03:46:27.000000
   2              3   Children        2006-02-15 03:46:27.000000
   3              4   Classics        2006-02-15 03:46:27.000000
   4              5   Comedy          2006-02-15 03:46:27.000000
                ...   ...             ...
  11             12   Music           2006-02-15 03:46:27.000000
  12             13   New             2006-02-15 03:46:27.000000
  13             14   Sci-Fi          2006-02-15 03:46:27.000000
  14             15   Sports          2006-02-15 03:46:27.000000
  15             16   Travel          2006-02-15 03:46:27.000000


16 rows x 3 columns
memory usage: 0.00 MB
type: getml.DataFrame

In [17]:
# TODO: Annotate columns with roles
address

name       actor_id   first_name      last_name       last_update
role   unused_float   unused_string   unused_string   unused_string
   0              1   PENELOPE        GUINESS         2006-02-15 03:34:33.000000
   1              2   NICK            WAHLBERG        2006-02-15 03:34:33.000000
   2              3   ED              CHASE           2006-02-15 03:34:33.000000
   3              4   JENNIFER        DAVIS           2006-02-15 03:34:33.000000
   4              5   JOHNNY          LOLLOBRIGIDA    2006-02-15 03:34:33.000000
                ...   ...             ...             ...
 195            196   BELA            WALKEN          2006-02-15 03:34:33.000000
 196            197   REESE           WEST            2006-02-15 03:34:33.000000
 197            198   MARY            KEITEL          2006-02-15 03:34:33.000000
 198            199   JULIA           FAWCETT         2006-02-15 03:34:33.000000
 199            200   THORA           TEMPLE          2006-02-15 03:34:33.000000


200 rows x 4 columns
memory usage: 0.01 MB
type: getml.DataFrame

In [18]:
# TODO: Annotate columns with roles
actor

name       store_id   manager_staff_id     address_id   last_update
role   unused_float       unused_float   unused_float   unused_string
   0              1                  1              1   2006-02-15 03:57:12.000000
   1              2                  2              2   2006-02-15 03:57:12.000000


2 rows x 4 columns
memory usage: 0.00 MB
type: getml.DataFrame

The next step is to define the data model. Refer to [https://relational.fel.cvut.cz/dataset/sakila](https://relational.fel.cvut.cz/dataset/sakila)
for a description of the dataset.

In [19]:
dm = getml.data.DataModel(population=payment.to_placeholder())
dm.add(getml.data.to_placeholder(**peripheral))

# TODO
# dm.population.join(...)

Now we can create the container and add the tables to it.

In [20]:
container = getml.data.Container(population=payment, split=payment.split)
container.add(**peripheral)

container

population
    subset   name       rows   type
0   train    payment   11235   View
1   val      payment    4814   View

peripheral
     name             rows   type
 0   address           603   DataFrame
 1   country           109   DataFrame
 2   customer          599   DataFrame
 3   language            6   DataFrame
 4   film_category    1000   DataFrame
     ...               ...   ...
10   city              600   DataFrame
11   film             1000   DataFrame
12   category           16   DataFrame
13   actor             200   DataFrame
14   store               2   DataFrame