In [1]:
import getml
from ctu.utils.data import load_ctu_dataset

getml.set_project("pub_med_diabetes")

Connected to project 'pub_med_diabetes'.

# Task: PubMed_Diabetes
### Dataset Description
> <span style="font-weight: 500; color: #3b3b3b;">ⓘ️&nbsp; Generated by `gpt-4o`</span>
>
> The *PubMed_Diabetes* dataset is designed for research in text classification, focusing on diabetes-related scientific papers. Below is a detailed description of the dataset:
> 
> - *Data Model (Relational Schema)*:
>   - **cites**: This table captures citation relationships between papers.
>     - `citing_paper_id` (int): Identifier for the paper that is citing another paper.
>     - `cites_paper_id` (int): Identifier for the paper being cited.
>   - **content**: This table contains the textual content of the papers.
>     - `paper_id` (int): Identifier for the paper.
>     - `word` (varchar): A word from the paper.
>     - `tf_idf` (double): The term frequency-inverse document frequency value for the word in the paper.
>   - **paper**: This table provides metadata about each paper.
>     - `paper_id` (int): Identifier for the paper.
>     - `class_label` (int): The class label assigned to the paper, indicating its category.
> 
> - *Task and Target Column*:
>   - The primary task for this dataset is *multiclass classification*. The goal is to classify each paper into one of several predefined categories based on its content.
>   - The target column for this task is `class_label` in the *paper* table.
> 
> - *Types of the Columns*:
>   - Integer (`int`): Used for identifiers and class labels.
>   - Varchar (`varchar`): Used for textual data (words).
>   - Double (`double`): Used for numerical data (tf-idf values).
> 
> - *Metadata*:
>   - The dataset consists of three tables: *cites*, *content*, and *paper*.
>   - The number of rows and the size of the dataset are not specified, but it typically includes a substantial number of scientific papers and their associated metadata.
> 
> The *PubMed_Diabetes* dataset is widely used in research for developing and testing algorithms in text classification, particularly in the biomedical domain. It has been utilized in various studies to explore the effectiveness of different machine learning models and feature extraction techniques in classifying scientific literature.

### Tables
Population table: paper

<h4>
  <details open>
     <summary>ER Diagram</summary>
       <img src="https://relational.fel.cvut.cz/assets/img/datasets-generated/PubMed_Diabetes.svg" alt="PubMed_Diabetes ER Diagram">
   </details>
</h4>

To load the dataset, we use the `load_ctu_dataset` function from the `utils`
module. This function returns a tuple with the population table as the first
element and the a dictionary of peripheral tables as the second element.

In [2]:
paper, peripheral = load_ctu_dataset("PubMed_Diabetes")

(
    cites,
    content,
) = peripheral.values()

Analyzing schema:   0%|          | 0/3 [00:00<?, ?it/s]

Downloading tables:   0%|          | 0/3 [00:00<?, ?it/s]

Building data:   0%|          | 0/3 [00:00<?, ?it/s]

Now, we can inspect all tables and annotate the columns with [roles](https://getml.com/latest/user_guide/concepts/annotating_data/).

# Annotating Data
## Population Table: `paper`
As class_label has more than two levels, you are dealing with a multiclass classification problem. To work on multiclass tasks in the
feature learning context, getML trains a separate model for each level of the target column in a one-vs-all fashion. To encode the target column
this way, we provide a helper function [`getml.data.make_target_columns`](https://getml.com/latest/reference/data/#getml.data.make_target_columns). For
a concrete example on that matter, please refere to the [CORA notebook](https://getml.com/latest/examples/enterprise-notebooks/cora/#12-prepare-data-for-getml).

In [3]:
# TODO: Annotate remaining columns with roles
paper

 name   class_label     paper_id        split
 role   unused_string   unused_string   unused_string
    0   0               7145            val
    1   0               29094           train
    2   0               34420           train
    3   0               34548           train
    4   0               37920           train
        ...             ...             ...
19712   2               19960641        train
19713   2               20003208        train
19714   1               20011163        train
19715   2               20061358        train
19716   2               20061360        val


19717 rows x 3 columns
memory usage: 0.79 MB
type: getml.DataFrame

## Peripheral Tables

In [4]:
# TODO: Annotate columns with roles
cites

 name   citing_paper_id   cites_paper_id
 role   unused_string     unused_string
    0   99048             131313
    1   99048             767184
    2   99048             826063
    3   99138             5704813
    4   106781            339853
        ...               ...
44333   20061360          17415551
44334   20061360          18215172
44335   20061360          18539916
44336   20061360          18539917
44337   20061360          19092145


44338 rows x 2 columns
memory usage: 1.47 MB
type: getml.DataFrame

In [5]:
# TODO: Annotate columns with roles
content

  name   paper_id        word            tf_idf
  role   unused_string   unused_string   unused_string
     0   7145            w-0             0.022914358702847797
     1   7145            w-001           0.029584017811803448
     2   7145            w-01            0.030809013942411815
     3   7145            w-4             0.017804017343450683
     4   7145            w-60            0.04075573793098892
         ...             ...             ...
988026   20061360        w-trial         0.04843448370984682
988027   20061360        w-type          0.0029572852363957142
988028   20061360        w-use           0.004835939879500289
988029   20061360        w-women         0.012812494692770574
988030   20061360        w-year          0.0204213535483939


988031 rows x 3 columns
memory usage: 60.57 MB
type: getml.DataFrame

The next step is to define the data model. Refer to [https://relational.fel.cvut.cz/dataset/PubMed_Diabetes](https://relational.fel.cvut.cz/dataset/PubMed_Diabetes)
for a description of the dataset.

In [6]:
dm = getml.data.DataModel(population=paper.to_placeholder())
dm.add(getml.data.to_placeholder(**peripheral))

# TODO
# dm.population.join(...)

Now we can create the container and add the tables to it.

In [7]:
container = getml.data.Container(population=paper, split=paper.split)
container.add(**peripheral)

container

population
    subset   name     rows   type
0   train    paper   13802   View
1   val      paper    5915   View

peripheral
    name        rows   type
0   cites      44338   DataFrame
1   content   988031   DataFrame